blinker==1.9.0
click==8.1.8
colorama==0.4.6
dnspython==2.7.0
email-validator==2.1.0.post1
Flask==3.1.0
greenlet==3.1.1
gunicorn==23.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.4.2
lxml==5.3.2
MarkupSafe==3.0.2
nltk==3.8.1
packaging==24.2
psycopg2-binary==2.9.9
PyPDF2==3.0.1
python-docx==0.8.11
regex==2024.11.6
SQLAlchemy==2.0.40
tqdm==4.67.1
typing_extensions==4.13.1
Werkzeug==3.1.3
